# Imports

In [164]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
import getpass  # To get the password without showing the input

# DB Connection

In [165]:
password = 'xPehv7cYgijaAN7'

In [166]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

# DB QUERY

In [167]:
# get movies
query = 'SELECT title, rental_duration, rental_rate, length, replacement_cost, rating, count(title) as rented FROM film \
LEFT JOIN inventory i USING(film_id) \
LEFT JOIN rental r USING(inventory_id) \
GROUP BY title'
df  = pd.read_sql_query(query, engine)

# get movies
query = 'SELECT title, rental_duration, rental_rate, length, rating FROM film'
df  = pd.read_sql_query(query, engine)

In [168]:
# get rentals
query = 'SELECT title, month(rental_date) as month \
FROM film \
LEFT JOIN inventory i USING(film_id) \
LEFT JOIN rental r USING(inventory_id)' 
rental  = pd.read_sql_query(query, engine)

In [170]:
# Reduce ~16.000 rentals to the 1000 unique movies and set 1 for month when 
rental['month'] = np.where(rental['month']==5,1,0)
rental = rental.groupby(['title'])['month'].max()
rental = pd.DataFrame(rental).reset_index()

In [172]:
# join both tables
#df = df.join(rental.set_index('title'), on='title')

In [173]:
# Check for nulls
df = df.dropna()
df.isna().sum()

title               0
rental_duration     0
rental_rate         0
length              0
replacement_cost    0
rating              0
rented              0
dtype: int64

# x-y Split

In [174]:
# Need to X-y-split AND train-test-split BEFORE I apply transformations, 
# then train transformation on training set only
#y = df['month']
#X = df.drop('month', axis=1)
y = rental['month']
X = df


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## X_train_num scaling

In [175]:
X_train_num = X_train.select_dtypes(include = np.number)

# Scaling data
transformer = MinMaxScaler().fit(X_train_num) # need to keep transformer
X_train_normalized = transformer.transform(X_train_num)
X_train_norm = pd.DataFrame(X_train_normalized)
X_train_norm.columns = X_train_num.columns

## X_train_cat Onehot encoding

In [176]:
X_train_cat = X_train.select_dtypes(include = object)
X_train_cat = X_train_cat.drop(['title'], axis=1)

In [177]:
encoder = OneHotEncoder().fit(X_train_cat)
encoded = encoder.transform(X_train_cat).toarray()
cols=[colname for row in encoder.categories_ for colname in row]
onehot_encoded = pd.DataFrame(encoded,columns=cols)
cols_to_drop=[row[0] for row in encoder.categories_]
X_train_cat = onehot_encoded.drop(cols_to_drop,axis=1)

X_train_cat = pd.get_dummies(X_train_cat, 
                             columns=['rating'],
                             drop_first=True)

## LR Model

In [178]:
X_train_transformed = np.concatenate([X_train_norm, X_train_cat], axis=1)

In [179]:
classification = LogisticRegression(random_state=0, solver='saga', # lbfgs - saga
                  multi_class='multinomial').fit(X_train_transformed, y_train)

## X_test_num scaling

In [180]:
# for numericals
X_test_num = X_test.select_dtypes(include = np.number)

# Scaling data
# we use the transformer that was trained on the training data
X_test_normalized = transformer.transform(X_test_num)
X_test_norm = pd.DataFrame(X_test_normalized)

## X_test_cat Onehot encoding

In [181]:
X_test_cat = X_test.select_dtypes(include = object)
X_test_cat = X_test_cat.drop(['title'], axis=1)

In [182]:
encoder = OneHotEncoder().fit(X_test_cat)
encoded = encoder.transform(X_test_cat).toarray()
cols=[colname for row in encoder.categories_ for colname in row]
onehot_encoded = pd.DataFrame(encoded,columns=cols)
cols_to_drop=[row[0] for row in encoder.categories_]
X_test_cat = onehot_encoded.drop(cols_to_drop,axis=1)

# for categoricals
X_test_cat = pd.get_dummies(X_test_cat, 
                            columns=['rating'],
                            drop_first=True)
# verify that dummies columns are in the same order and that the same column was dropped
display(list(zip(list(X_train_cat.columns),list(X_test_cat.columns))))
# not needed if you treat each dataframe with one_hot_encoder and save the encode (and the column names)

X_test_cat.head()

## Predictions

In [183]:
X_test_transformed = np.concatenate([X_test_norm, X_test_cat], axis=1)

In [184]:
predictions = classification.predict(X_test_transformed)
classification.score(X_test_transformed, y_test)

0.81

In [185]:
predictions

array([1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1])